.btnComment {
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-right: calc(var(--spacing) * 3) solid var(--red);
    border-top: calc(var(--spacing) * 8) solid transparent;
    border-bottom: calc(var(--spacing) * 8) solid transparent;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    &::before {
      border-right: calc(var(--spacing) * 3) solid var(--lightRed);
    }
  }
}